nav {
  background-color: #4cb69f;
  margin: 5px;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  display: flex;
  width: 50%;
  margin: 0;
  padding: 0;

  li {
    margin: 10px;
    padding: 15px;
    color: white;
    transition: all 0.15s;
    border-block-start-width: 1px;
    cursor: pointer;
    
  }
  li:hover {
    
    color: rgba(181, 247, 203, 0.986);
  }
}

.fullHeightLi {     //search input box
  margin: 0;
  padding: 0;

  input {
    margin: 10px;
    height: 40px;
    width: 100%;
    min-width: 100px;
    vertical-align: middle;
    padding: 0 10px;
    border: 0;
    border-radius: 5px;
    background-color: rgb(250, 250, 250);
  }
}
