* {
  box-sizing: border-box;
}

main {
  margin:5px;
  padding: 10px;
  background-color: #fdfdfd;
  min-height: 70vh;
  border-radius:4px;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  li {
    margin: 5px 10px;
    margin-left: 0;
  }
}
