*{
    box-sizing: border-box;
}

main
{   padding:10px;
    margin:5px;
    background-color:#e6dbc9;
    border-radius:6px;
    min-height:100vh;
}

ul 
{
 list-style-type:none;
 display:flex;
 padding:0;
 margin:0;
 li 
 {
     margin:5px 10px;
     margin-left:0;
 }
}